IVR/Service References/IVRServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupContract" nillable="true" type="tns:GroupContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupContract" nillable="true" type="tns:ArrayOfGroupContract" />
  <xs:complexType name="GroupContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persons" nillable="true" type="tns:ArrayOfPersonContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupContract" nillable="true" type="tns:GroupContract" />
  <xs:complexType name="ArrayOfPersonContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContract" nillable="true" type="tns:PersonContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContract" nillable="true" type="tns:ArrayOfPersonContract" />
  <xs:complexType name="PersonContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthdayDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthdayInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hobby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReflectionInFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReflectionInJob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="War" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearStart" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContract" nillable="true" type="tns:PersonContract" />
</xs:schema>