IVR/Service References/IVRServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50262/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" />
  <xs:element name="GetGroupsWithPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsWithPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetGroupsWithPersonsResult" nillable="true" type="q1:ArrayOfGroupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPerson" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetWorksResult" nillable="true" type="q2:ArrayOfWorkContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenalties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPerson" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenaltiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetPenaltiesResult" nillable="true" type="q3:ArrayOfPenaltyContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPerson" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetPromotionsResult" nillable="true" type="q4:ArrayOfPromotionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionsType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetPromotionsTypeResult" nillable="true" type="q5:ArrayOfPromotionTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenaltiesType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenaltiesTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" minOccurs="0" name="GetPenaltiesTypeResult" nillable="true" type="q6:ArrayOfPenaltyTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>