IVR/Service References/IVRServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50262/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50262/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50262/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetGroupsWithPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsWithPersons" />
  </wsdl:message>
  <wsdl:message name="IService_GetGroupsWithPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsWithPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorks" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPenalties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPenalties" />
  </wsdl:message>
  <wsdl:message name="IService_GetPenalties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPenaltiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPromotions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotions" />
  </wsdl:message>
  <wsdl:message name="IService_GetPromotions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPromotionsType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionsType" />
  </wsdl:message>
  <wsdl:message name="IService_GetPromotionsType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionsTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPenaltiesType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPenaltiesType" />
  </wsdl:message>
  <wsdl:message name="IService_GetPenaltiesType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPenaltiesTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetGroupsWithPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGroupsWithPersons" message="tns:IService_GetGroupsWithPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGroupsWithPersonsResponse" message="tns:IService_GetGroupsWithPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorks" message="tns:IService_GetWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorksResponse" message="tns:IService_GetWorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPenalties">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPenalties" message="tns:IService_GetPenalties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPenaltiesResponse" message="tns:IService_GetPenalties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPromotions" message="tns:IService_GetPromotions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPromotionsResponse" message="tns:IService_GetPromotions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotionsType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPromotionsType" message="tns:IService_GetPromotionsType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPromotionsTypeResponse" message="tns:IService_GetPromotionsType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPenaltiesType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPenaltiesType" message="tns:IService_GetPenaltiesType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPenaltiesTypeResponse" message="tns:IService_GetPenaltiesType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroupsWithPersons">
      <soap:operation soapAction="http://tempuri.org/IService/GetGroupsWithPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorks">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPenalties">
      <soap:operation soapAction="http://tempuri.org/IService/GetPenalties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <soap:operation soapAction="http://tempuri.org/IService/GetPromotions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotionsType">
      <soap:operation soapAction="http://tempuri.org/IService/GetPromotionsType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPenaltiesType">
      <soap:operation soapAction="http://tempuri.org/IService/GetPenaltiesType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50262/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>