IVR/Service References/IVRServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVRService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupContract" nillable="true" type="tns:GroupContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupContract" nillable="true" type="tns:ArrayOfGroupContract" />
  <xs:complexType name="GroupContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persons" nillable="true" type="tns:ArrayOfPersonContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupContract" nillable="true" type="tns:GroupContract" />
  <xs:complexType name="ArrayOfPersonContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContract" nillable="true" type="tns:PersonContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContract" nillable="true" type="tns:ArrayOfPersonContract" />
  <xs:complexType name="PersonContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthdayDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthdayInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hobby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReflectionInFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReflectionInJob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="War" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearStart" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContract" nillable="true" type="tns:PersonContract" />
  <xs:complexType name="ArrayOfWorkContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkContract" nillable="true" type="tns:WorkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkContract" nillable="true" type="tns:ArrayOfWorkContract" />
  <xs:complexType name="WorkContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InputDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonInitiator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkContract" nillable="true" type="tns:WorkContract" />
  <xs:complexType name="ArrayOfPenaltyContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PenaltyContract" nillable="true" type="tns:PenaltyContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPenaltyContract" nillable="true" type="tns:ArrayOfPenaltyContract" />
  <xs:complexType name="PenaltyContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDestroy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDDocumentInitiator" type="xs:int" />
      <xs:element minOccurs="0" name="IDPenaltyType" type="xs:int" />
      <xs:element minOccurs="0" name="InputDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PenaltyContract" nillable="true" type="tns:PenaltyContract" />
  <xs:complexType name="ArrayOfPromotionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromotionContract" nillable="true" type="tns:PromotionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromotionContract" nillable="true" type="tns:ArrayOfPromotionContract" />
  <xs:complexType name="PromotionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDDocumentInitiator" type="xs:int" />
      <xs:element minOccurs="0" name="IDPromotionType" type="xs:int" />
      <xs:element minOccurs="0" name="InputDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionContract" nillable="true" type="tns:PromotionContract" />
  <xs:complexType name="ArrayOfPromotionTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromotionTypeContract" nillable="true" type="tns:PromotionTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromotionTypeContract" nillable="true" type="tns:ArrayOfPromotionTypeContract" />
  <xs:complexType name="PromotionTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionTypeContract" nillable="true" type="tns:PromotionTypeContract" />
  <xs:complexType name="ArrayOfPenaltyTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PenaltyTypeContract" nillable="true" type="tns:PenaltyTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPenaltyTypeContract" nillable="true" type="tns:ArrayOfPenaltyTypeContract" />
  <xs:complexType name="PenaltyTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PenaltyTypeContract" nillable="true" type="tns:PenaltyTypeContract" />
  <xs:complexType name="ArrayOfPersonRankContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonRankContract" nillable="true" type="tns:PersonRankContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonRankContract" nillable="true" type="tns:ArrayOfPersonRankContract" />
  <xs:complexType name="PersonRankContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDRank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonRankContract" nillable="true" type="tns:PersonRankContract" />
  <xs:complexType name="ArrayOfRankContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankContract" nillable="true" type="tns:RankContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankContract" nillable="true" type="tns:ArrayOfRankContract" />
  <xs:complexType name="RankContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankContract" nillable="true" type="tns:RankContract" />
  <xs:complexType name="ArrayOfOrganizationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationContract" nillable="true" type="tns:OrganizationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationContract" nillable="true" type="tns:ArrayOfOrganizationContract" />
  <xs:complexType name="OrganizationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationContract" nillable="true" type="tns:OrganizationContract" />
</xs:schema>